@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 225px;
    width: 375px;
    background: url('../img/bg.png') no-repeat center;
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2);
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.logo{
    display: flex;
    gap: 3px;
    align-items: center;
}

.logo img{
    width: 50px;
    display: block;
}

.chip img{
    width: 56px;
    display: block;
}

.details{
    padding: 25px;
}

.title{
    font-size: 11px;
}

.number{
    font-size: 20px;
    letter-spacing: 1px;
}

.name-exp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name,.exp-date{
    font-size: 18px;
}


